@import "../../App/vars";

.location {
  display: flex;
  font-size: 36px;
}

.date {
  font-size: $fs-small;
  opacity: $txt-opacity;
}

input {
  all: unset;
  display: inline;
  width: 7.2em;
}

input::placeholder {
  all: unset;
}

.edit-icon {
  max-width: 0.75em;
  opacity: $txt-opacity;
  &:hover {
    opacity: 1;
  }
}
