@font-face {
  font-family: "Neue Haas Grotesk ";
  src: local("Neue Haas Grotesk  Roman"), local("Neue-Haas-Grotesk--Roman"), url("../../fonts/NeueHaasDisplay-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk ";
  src: local("Neue Haas Grotesk  Roman Italic"), local("Neue-Haas-Grotesk--Roman-Italic"), url("../../fonts/NeueHaasDisplay-RomanItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
