@import '../../scss/neue';
@import '../../scss/vars';
@import '../../scss/reset';

html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  font-family: 'Outfit', sans-serif;
  line-height: 1;
  color: $clr-primary;
  background-color: $background-clr;
  overflow-y: hidden;
  user-select: none;
}

#root {
  height: 100dvh;
  height: 100vh;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 20px;
  line-height: 0.8;
}

.title {
  letter-spacing: -0.01em;
  text-transform: uppercase;

  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: $fs-mobile;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    font-size: $fs-tablet;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    font-size: $fs-desktop;
  }
}

.react-p5 {
  position: absolute;
  // inset: 0;
  z-index: 99;
}
