@import '../../../scss/vars';

.bottom-container {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% - (1px + 0.75em + 1px + 0.35em + 1em + 0.35em + 1px + 0.7em)));
  width: 100%;
  padding: 0.75em;
  padding-right: 3%;
  display: flex;
  gap: 1.5em;
  font-size: 12px;
  line-height: 1;
  background-color: $background-clr;
  border-top: 2px solid $clr-primary;
  transition: transform 600ms;

  &:hover {
    transform: translateY(0%);
  }

  @media only screen and (max-width: 450px) {
    overflow-x: scroll;
  }

  @media only screen and (max-width: $breakpoint-desktop) {
    button {
      display: none;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    gap: 2em;
    select {
      display: none;
    }
  }

  label {
    display: inline-block;
    padding-block: calc(0.3em + 1px);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @media only screen and (max-width: $breakpoint-desktop) {
      padding-block: 0.3em;
    }
  }

  button {
    line-height: 1;
    padding: 0.35em 0.7em;
    border: 1px solid $clr-primary;
    border-radius: 20px;
  }

  button:hover,
  button.active {
    background-color: $clr-primary;
    color: $background-clr;
    font-weight: 400;
  }

  select {
    color: $clr-primary;
    background: $background-clr;
    font-family: inherit;
  }
}

.districts-container,
.dates-container {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;

  @media only screen and (max-width: $breakpoint-tablet) {
    gap: 0.75em;
  }
}

.districts-container {
  @media only screen and (min-width: $breakpoint-desktop) {
    width: 80%;
  }
}

.districts-wrapper,
.dates-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em;
}

.credits-text {
  @media only screen and (max-width: $breakpoint-desktop) {
    display: none;
  }
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  opacity: 0.7;
}
