@import "../../../scss/vars";

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: $fs-m;

  @media only screen and (max-width: $breakpoint-desktop) {
    font-size: $fs-m-mobile;
  }
}

select {
  color: $clr-primary;
  background: $clr-secondary;
  font-family: inherit;
}

.today-date {
  opacity: $txt-opacity;
  line-height: 1.5;
}

.options-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.about-link {
  opacity: $txt-opacity;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

.toggle-theme-btn {
  aspect-ratio: 1;
  padding: 0.5em;
  border: 1px solid $clr-primary;
  border-radius: 50%;

  &:hover {
    border-width: 2px;
  }

  &:active {
    background-color: $clr-primary;
  }
}
