@import '../../../scss/vars';

.weather-info-container {
  padding: 20px;
  padding-bottom: calc(18px + 40px);
  font-size: $fs-desktop;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: $fs-mobile;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    font-size: $fs-tablet;
    line-height: 0.9;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    font-size: $fs-desktop;
    line-height: 0.8;
  }
}

.stats-wrapper {
  margin-bottom: 0.5em;
  font-size: 12px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;

  @media only screen and (max-width: $breakpoint-tablet) {
    line-height: 1.2;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 1.5em;
    margin-left: 25%;
    display: flex;
    gap: 15%;
    font-size: 16px;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    margin-left: 53%;
  }
}

.stat {
  label {
    margin-right: 0.7em;
    opacity: 0.6;
  }
}

.degrees-wrapper {
  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: 17vw;

    span {
      display: block;
    }
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    display: flex;
    gap: 0.7em;
  }
}

.date {
  @media only screen and (min-width: $breakpoint-tablet) {
    text-align: center;
  }
}

.time {
  @media only screen and (min-width: $breakpoint-tablet) {
    margin-left: 32%;
  }
}
