@import "../../../../scss/vars";

.weekday-card {
  min-width: max-content;
  padding: 1em;
  opacity: $txt-opacity;
  font-size: $fs-m;

  @media only screen and (max-width: $breakpoint-desktop) {
    font-size: 20px;
  }

  &:first-of-type {
    padding-left: 0;
  }

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}
