@import "../../../scss/vars";

.weekdays {
  display: flex;
  gap: 0.5em;
  font-size: $fs-s;

  &:first-of-type {
    margin-left: 20px;
  }

  &:last-of-type {
    margin-right: 20px;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    gap: 2em;
  }

  @media only screen and (max-width: $breakpoint-desktop) {
    overflow-x: scroll;
  }
}
