:root {
  --clr-primary: #fff;
  --clr-secondary: #111;
}

$clr-primary: var(--clr-primary);
$clr-secondary: var(--clr-secondary);

$fs-desktop: 9vw;
$fs-tablet: 11vw;
$fs-mobile: 9vw;
$fs-s: 16px;

$txt-opacity: 0.4;

$breakpoint-tablet: 576px;
$breakpoint-desktop: 900px;
$breakpoint-desktop-L: 1792px;
