@import "../../App/vars";

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: $fs-medium;
  & > * {
    width: calc(100% / 3);
  }
}

.main-degrees {
  font-size: $fs-big;
  line-height: 0.9;

  p:first-of-type {
    margin-bottom: 0.2em;
  }
}

.main-degrees-arrow {
  vertical-align: top;
  font-size: 0.85em;
}

.main-degrees-unit {
  display: inline-block;
  margin-left: 0.1em;
  font-size: 0.5em;
}

.stat-label {
  margin-right: 0.35em;
  opacity: $txt-opacity;
}

.weather-description {
  text-align: right;
}
